body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6520 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:640px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6521 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6522 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:50px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6523 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6524 {
  position:absolute;
  left:320px;
  top:84px;
  width:71px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6525 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6526 {
  position:absolute;
  left:184px;
  top:81px;
  width:25px;
  height:25px;
}
#u6527 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6528 {
  position:absolute;
  left:168px;
  top:118px;
  width:360px;
  height:590px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6529 {
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6530 {
  position:absolute;
  left:313px;
  top:379px;
  width:71px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6531 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
