body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2529 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:640px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2530 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2531 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:50px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2532 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2533 {
  position:absolute;
  left:320px;
  top:84px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2535 {
  position:absolute;
  left:184px;
  top:81px;
  width:25px;
  height:25px;
}
#u2536 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2537 {
  position:absolute;
  left:168px;
  top:118px;
  width:360px;
  height:590px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2538 {
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2539 {
  position:absolute;
  left:168px;
  top:118px;
  width:360px;
  height:67px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2540 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2541 {
  position:absolute;
  left:184px;
  top:127px;
  width:141px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2542 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2543 {
  position:absolute;
  left:184px;
  top:156px;
  width:40px;
  height:18px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2544 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2545 {
  position:absolute;
  left:374px;
  top:155px;
  width:137px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2546 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2547 {
  position:absolute;
  left:168px;
  top:185px;
  width:360px;
  height:67px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2548 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2549 {
  position:absolute;
  left:184px;
  top:194px;
  width:155px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2550 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2551 {
  position:absolute;
  left:184px;
  top:223px;
  width:40px;
  height:18px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2552 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2553 {
  position:absolute;
  left:374px;
  top:222px;
  width:137px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2554 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2555 {
  position:absolute;
  left:454px;
  top:127px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2556 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2557 {
  position:absolute;
  left:454px;
  top:194px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2558 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
