body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:612px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6894 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:612px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6895 {
  position:absolute;
  left:2px;
  top:298px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6896 {
  position:absolute;
  left:168px;
  top:375px;
  width:360px;
  height:40px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6897 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6898 {
  position:absolute;
  left:168px;
  top:68px;
  width:360px;
  height:50px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6899 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6900 {
  position:absolute;
  left:313px;
  top:84px;
  width:71px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6902 {
  position:absolute;
  left:168px;
  top:118px;
  width:360px;
  height:116px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6903 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6904 {
  position:absolute;
  left:184px;
  top:81px;
  width:25px;
  height:25px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6906 {
  position:absolute;
  left:184px;
  top:165px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6908 {
  position:absolute;
  left:473px;
  top:127px;
  width:43px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6910 {
  position:absolute;
  left:251px;
  top:165px;
  width:109px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6912 {
  position:absolute;
  left:184px;
  top:127px;
  width:71px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6914 {
  position:absolute;
  left:184px;
  top:204px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6916 {
  position:absolute;
  left:251px;
  top:204px;
  width:140px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6918 {
  position:absolute;
  left:168px;
  top:240px;
  width:360px;
  height:127px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6919 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6920 {
  position:absolute;
  left:184px;
  top:292px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6921 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6922 {
  position:absolute;
  left:401px;
  top:256px;
  width:95px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u6924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6924 {
  position:absolute;
  left:439px;
  top:292px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6926 {
  position:absolute;
  left:496px;
  top:256px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6927 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6928 {
  position:absolute;
  left:184px;
  top:256px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6930 {
  position:absolute;
  left:184px;
  top:156px;
  width:332px;
  height:1px;
}
#u6931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6932 {
  position:absolute;
  left:184px;
  top:194px;
  width:332px;
  height:1px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6934 {
  position:absolute;
  left:184px;
  top:284px;
  width:332px;
  height:1px;
}
#u6935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6936 {
  position:absolute;
  left:168px;
  top:640px;
  width:360px;
  height:40px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6937 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6938 {
  position:absolute;
  left:184px;
  top:385px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6940 {
  position:absolute;
  left:481px;
  top:385px;
  width:15px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6942 {
  position:absolute;
  left:496px;
  top:384px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6943 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6944 {
  position:absolute;
  left:184px;
  top:414px;
  width:332px;
  height:1px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6946 {
  position:absolute;
  left:184px;
  top:651px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u6948 {
  position:absolute;
  left:481px;
  top:651px;
  width:9px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6950 {
  position:absolute;
  left:496px;
  top:650px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6951 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6952 {
  position:absolute;
  left:182px;
  top:321px;
  width:332px;
  height:1px;
}
#u6953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6954 {
  position:absolute;
  left:184px;
  top:332px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6956 {
  position:absolute;
  left:439px;
  top:332px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6958 {
  position:absolute;
  left:168px;
  top:421px;
  width:360px;
  height:209px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6959 {
  position:absolute;
  left:2px;
  top:96px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6960 {
  position:absolute;
  left:184px;
  top:431px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u6962 {
  position:absolute;
  left:184px;
  top:460px;
  width:332px;
  height:1px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6964 {
  position:absolute;
  left:184px;
  top:471px;
  width:43px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6965 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6966 {
  position:absolute;
  left:184px;
  top:500px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6968 {
  position:absolute;
  left:184px;
  top:529px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6969 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6970 {
  position:absolute;
  left:184px;
  top:558px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6971 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6972 {
  position:absolute;
  left:453px;
  top:471px;
  width:43px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6973 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6974 {
  position:absolute;
  left:407px;
  top:500px;
  width:89px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6975 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6976 {
  position:absolute;
  left:313px;
  top:529px;
  width:183px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6978 {
  position:absolute;
  left:184px;
  top:587px;
  width:57px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6980 {
  position:absolute;
  left:355px;
  top:558px;
  width:141px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6982 {
  position:absolute;
  left:331px;
  top:587px;
  width:165px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u6984 {
  position:absolute;
  left:168px;
  top:375px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6985 {
  position:absolute;
  left:168px;
  top:640px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6986 {
  position:absolute;
  left:168px;
  top:240px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
