<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gshl.tea">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme_ChenJinShi">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/FullScreenAnimation"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"
                  android:configChanges="keyboardHidden|screenSize|orientation"
                  android:theme="@style/FullScreenAnimation"
                  android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.InputCodeActivity">
        </activity>
        <activity android:name=".activity.SetPasswordActivity">
        </activity>
        <activity
            android:name=".module.good.ui.activity.SearchActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/FullScreenAnimation"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".module.order.ui.activity.OrderDetailActivity">
        </activity>
        <activity
            android:name=".module.order.ui.activity.GoodListActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.GoodDetailActivity">
        </activity>
        <activity android:name=".module.home.activity.MessageActivity">
        </activity>
        <activity android:name=".module.home.activity.NotificationActivity">
        </activity>
        <activity android:name=".module.home.activity.NotificationDetailActivity">
        </activity>
        <activity android:name=".module.home.activity.SystemNotificationActivity">
        </activity>
        <activity android:name=".module.home.activity.CollectShopActivity">
        </activity>
        <activity android:name=".activity.OrderPayActivity">
        </activity>
        <activity android:name=".module.home.activity.RecentOrderActivity">
        </activity>
        <activity android:name=".module.me.activity.UserManagerActivity">
        </activity>
        <activity android:name=".module.me.activity.ReceivingAddressActivity">
        </activity>
        <activity android:name=".module.me.activity.EditReceivingActivity">
        </activity>
        <activity android:name=".module.me.activity.AddReceivingActivity">
        </activity>
    </application>

</manifest>